extends base.pug 
block metaElements
  meta(name="robots" content="INDEX, FOLLOW")
  meta(name="keywords" content="AJ Kart Address, My Address, Select Address, Select Address in AJ Kart, My Address in AJ Kart, Address List in AJ Kart, Pata , Pata in AJ Kart")
  meta(name="description" content=`With AJ Kart's intuitive address selection process, you can choose the perfect delivery destination hassle-free. Pick from your Address List in AJ Kart or opt for a new address in just a few clicks.`)
block style 
    include ../static/css/address.css 
block title 
    title AJ-Kart | Address 
block content 
    .content
        if address.length
            .address-box 
                each obj,i in address 
                    if i == 0
                        h3 Main Address 
                        .address-line
                            <ion-icon name="location"></ion-icon>  
                            | #{obj.add}, #{obj.dist}, #{obj.state}, #{obj.pin}
                            .btn-list
                                form(action="/user/address/delete", method="post") 
                                    input(type="hidden", name="index", value=i)
                                    button.delete(type="submit" onclick="return confirm('Are you sure you want to delete this Address')") Delete
                        h3 Other Address 
                    else 
                        .address-line
                            <ion-icon name="location"></ion-icon>  
                            | #{obj.add}, #{obj.dist}, {obj.state}, #{obj.pin}
                            .btn-list
                                form(action="/user/address/delete", method="post") 
                                    input(type="hidden", name="index", value=i)
                                    button.delete(type="submit" onclick="return confirm('Are you sure you want to delete this Address')") Delete
                                form(action="/user/address/main", method="post") 
                                    input(type="hidden", name="index", value=i)
                                    button.main-btn(type="submit") Add to Main
            button.btn.add-address(onclick="addAddress()") Add a Address 
        else
            form(action="/user/address", method="post", id="contactForm") 
                .heading Address 
                .input
                    input.input-element(type="text", name="address-1", id="address-1", required="required")
                    label.input-label(for="address-1") Address Line 1
                .input
                    input.input-element(type="text", name="address-2", id="address-2")
                    label.input-label(for="address-2") Address Line 2 (Optional)
                .input-split
                    button.selectOptBtn(type="button",onclick='openOption(this)')
                        #selected.selected Select State
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                        #selectOptContainer.selectOptContainer.addOption
                            span.opt(onclick='select(this)', value="") Select State
                            span.opt(onclick='select(this)', value="Maharastra") Maharastra
                    input#selectedOption(type='hidden', name='state',required="required")
                    button.selectOptBtn(type="button",onclick='openOption(this)')
                        #selected.selected Select District
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                        #selectOptContainer.selectOptContainer.addOption
                            span.opt(onclick='select(this)', value="") Select District
                            span.opt(onclick='select(this)', value="Ahmednagar") Ahmednagar
                            span.opt(onclick='select(this)', value="Aurangabad") Sambhajinagar
                            span.opt(onclick='select(this)', value="Mumbai") Mumbai
                            span.opt(onclick='select(this)', value="Pune") Pune
                            span.opt(onclick='select(this)', value="Thane") Thane
                    input#selectedOption(type='hidden', name='district',required="required")  
                .input
                    input.input-element(type="number", name="pincode", id="pincode", required="required")
                    label.input-label(for="pincode") Pin-Code
                button.btn(type="button",style="margin-top: 25px;", onclick="submitDone()") Submit  
block scripts
    script(src="/static/js/address.js")       