extends base.pug
block metaElements
  meta(name="robots" content="INDEX, FOLLOW")
  meta(name="keywords" content="AJKart, Crystal Clear, water filter, water Plant, water filter installation, water filter installation near me, water filter installation cost, alkaline water filter, aquaguard water filter, at home water filter, at home water filter system, reverse osmosis water filter, how much is a water filter, water purifier. aquaguard water purifier, ro water purifier, kent water purifier, alkaline water purifier, water purifier aquaguard, water purifier at home, domestic water filter, industrial water filtration, best water filter brands")
  meta(name="description" content=`Looking for reliable water filters and purifiers? Get the best water filter installation services near you, courtesy of AJKart. From alkaline water filters to reverse osmosis systems, we have a wide range of solutions for your home and industry needs. Discover top brands like Aquaguard, Kent, and more, all available on AJKart!
      At Home or Industrial, we have the perfect water filtration system for you. Say goodbye to impurities and enjoy fresh, purified water every day. Get expert water filter installation at an affordable cost through AJKart.
      Shop now and experience the benefits of a premium water purifier at home. Take control of your water quality with our state-of-the-art systems. Invest in your health and well-being today with our trusted water filters and purifiers, available exclusively on AJKart.`)
block style
    include ../static/css/brands.css
    if Seller 
        include ../static/css/input.css
block title 
    title AJ Water Solutions
block content
    #content
        .brand-header Top Brands
        .brand-list( style=Seller?'row-gap: 30px;':'' )
            if Seller 
                each brand in brands 
                    .brand-item
                        button.edit(onclick=`addBrandForm(event)`)
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                            | &nbsp;Edit
                        button.edit.delete(onclick=`deleteBrand('${brand._id}')`)
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                            | &nbsp;Delete
                        img.brand-logo(src=brand.logoUrl, alt='Brand Logo')
                        h2.brand-name #{brand.name}
                        p.brand-description #{brand.description}
                        p.brand-origin Country of Origin: #{brand.origin}
                        p.brand-categories 
                            | Product Categories: &nbsp
                            each category in brand.categories
                                | #{category}, 
                        a.brand-link(href='/search?value='+brand.name) View All Products
                    // Repeat for more brands
                .brand-item(onclick="addBrandForm(false)")
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M2.5 0q-.25 0-.487.048l.194.98A1.5 1.5 0 0 1 2.5 1h.458V0zm2.292 0h-.917v1h.917zm1.833 0h-.917v1h.917zm1.833 0h-.916v1h.916zm1.834 0h-.917v1h.917zm1.833 0h-.917v1h.917zM13.5 0h-.458v1h.458q.151 0 .293.029l.194-.981A2.5 2.5 0 0 0 13.5 0m2.079 1.11a2.5 2.5 0 0 0-.69-.689l-.556.831q.248.167.415.415l.83-.556zM1.11.421a2.5 2.5 0 0 0-.689.69l.831.556c.11-.164.251-.305.415-.415zM16 2.5q0-.25-.048-.487l-.98.194q.027.141.028.293v.458h1zM.048 2.013A2.5 2.5 0 0 0 0 2.5v.458h1V2.5q0-.151.029-.293zM0 3.875v.917h1v-.917zm16 .917v-.917h-1v.917zM0 5.708v.917h1v-.917zm16 .917v-.917h-1v.917zM0 7.542v.916h1v-.916zm15 .916h1v-.916h-1zM0 9.375v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .916v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .917v.458q0 .25.048.487l.98-.194A1.5 1.5 0 0 1 1 13.5v-.458zm16 .458v-.458h-1v.458q0 .151-.029.293l.981.194Q16 13.75 16 13.5M.421 14.89c.183.272.417.506.69.689l.556-.831a1.5 1.5 0 0 1-.415-.415zm14.469.689c.272-.183.506-.417.689-.69l-.831-.556c-.11.164-.251.305-.415.415l.556.83zm-12.877.373Q2.25 16 2.5 16h.458v-1H2.5q-.151 0-.293-.029zM13.5 16q.25 0 .487-.048l-.194-.98A1.5 1.5 0 0 1 13.5 15h-.458v1zm-9.625 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zm1.834-1v1h.916v-1zm1.833 1h.917v-1h-.917zm1.833 0h.917v-1h-.917zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                    </svg>
            else 
                each brand in brands 
                    .brand-item
                        img.brand-logo(src=brand.logoUrl, alt='Brand Logo')
                        h2.brand-name #{brand.name}
                        p.brand-description #{brand.description}
                        p.brand-origin Country of Origin: #{brand.origin}
                        p.brand-categories 
                            | Product Categories: &nbsp
                            each category in brand.categories
                                | #{category}, 
                        a.brand-link(href='/search?value='+brand.name) View All Products
                    // Repeat for more brands
block scripts 
    script.
        /* Loading Animation Ends */
        document.getElementById('loading').style.display = 'none';
        document.body.style.overflowY = 'auto';
    if Seller 
        script(src="../static/js/brands.js") 
        script(src="../static/js/input.js") 