extends base.pug 
block metaElements
    meta(name="robots" content="INDEX, FOLLOW")
block style 
    include ../static/css/search.css 
block title 
    title AJWS | Buy Again 
block content 
    if data.length == 0
        h3.emptyCart You have not purchased any product yet.
    else 
        section.main-content
            .filter-sign-small#openfilter(onclick="openFilter()")
                    <ion-icon name="funnel" id="funnel"></ion-icon>
            .filter-box-background#filter-box-background
            .filter-box#filter-box
                .filter-sign 
                    <ion-icon name="funnel"></ion-icon> 
                    label(for="") Filter
                .fiter-brand 
                    h4 Brand
                    input(type="checkbox", name="brand", id="cc", value ="Crystal Clear",onchange="applyFilter()")
                    label(for="cc") Crystal Clear
                    br 
                    input(type="checkbox", name="brand", id="Purosis", value ="Purosis",onchange="applyFilter()")
                    label(for="Purosis") Purosis
                    br 
                    input(type="checkbox", name="brand", id="Nile", value ="Nile",onchange="applyFilter()")
                    label(for="Nile") Nile
                    br 
                    input(type="checkbox", name="brand", id="AquaGrand", value ="Aqua Grand",onchange="applyFilter()")
                    label(for="AquaGrand") Aqua Grand
                    br 
                    input(type="checkbox", name="brand", id="AquaDropPlus", value ="Aqua Drop Plus",onchange="applyFilter()")
                    label(for="AquaDropPlus") Aqua Drop Plus
                    br 
                    input(type="checkbox", name="brand", id="AquaMars", value ="Aqua Mars",onchange="applyFilter()")
                    label(for="AquaMars") Aqua Mars
                    br 
                    input(type="checkbox", name="brand", id="AquaRoma", value ="Aqua Roma",onchange="applyFilter()")
                    label(for="AquaRoma") Aqua Roma
                    br 
                    input(type="checkbox", name="brand", id="AquaJade", value ="Aqua Jade",onchange="applyFilter()")
                    label(for="AquaJade") Aqua Jade
                    br 
                .filter-price 
                    h4 Price
                    input(type='checkbox', name='Price', id="Lto5", value="0to5",onchange="applyFilter()")
                    label(for="Lto5") Less than 5000&#x20B9;
                    br
                    input(type='checkbox', name='Price', id="5to8", value="5to8",onchange="applyFilter()")
                    label(for="5to8") 5000&#x20B9; to 8000&#x20B9;
                    br
                    input(type='checkbox', name='Price',id="8to10", value="8to10",onchange="applyFilter()")
                    label(for="8to10") 8000&#x20B9; to 10000&#x20B9;
                    br
                    input(type='checkbox', name='Price',id="10to12", value="10to12",onchange="applyFilter()")
                    label(for="10to12") 10000&#x20B9; to 12000&#x20B9;
                    br
                    input(type='checkbox', name='Price',id="12to15", value="12to15",onchange="applyFilter()")
                    label(for="12to15") 12000&#x20B9; to 15000&#x20B9;
                    br
                    input(type='checkbox', name='Price',id="15to20", value="15to20",onchange="applyFilter()")
                    label(for="15to20") 15000&#x20B9; to 20000&#x20B9;
                    br
                    input(type='checkbox', name='Price',id="20toM", value="20to100",onchange="applyFilter()")
                    label(for="20toM") 20000&#x20B9; or More
                    br
                .filter-material 
                    h4 Material
                    input(type="checkbox", name="material", id="metal", value="metal",onchange="applyFilter()")
                    label(for="metal") Metal 
                    br
                    input(type="checkbox", name="material", id="Plastic", value="plastic",onchange="applyFilter()") 
                    label(for="plastic") Plastic
                    br
            .search-output-area 
                h2.emptyCart Buy Again
                each item in data
                    if item.available
                        .search-item(onclick="openProduct(this)")
                            .search-image
                                each img in item.image
                                    each obj in img
                                        each loc in [obj]
                                            each item in loc
                                                img.images(src='/static/productImg/' + item)
                            .search-content
                                if item.product_type == 'Water Filter and Purifiers'
                                    if item.model_name.length
                                        p.heading #{item.model_name} based on 
                                            each method,i in item.filtration_method
                                                if i == 0
                                                    |#{method} 
                                                else 
                                                    |+ #{method}
                                            |  Technique 
                                            each component,i in item.included_components
                                                if i == 0
                                                    |with #{component}
                                                else 
                                                    |, #{component}
                                            | and Automatic UF+TDS controller 
                                            if item.tank_capacity >= 9
                                                |having #{item.tank_capacity}-L Tank 
                                            |by #{item.brand_name}
                                    else 
                                        p.heading #{item.brand_name} Presents a Purifier based on 
                                            each method,i in item.filtration_method
                                                if i == 0
                                                    |#{method} 
                                                else 
                                                    |+ #{method}
                                            |  Technique 
                                            each component,i in item.included_components
                                                if i == 0
                                                    |with #{component}
                                                else 
                                                    |, #{component}
                                            | and Automatic UF+TDS controller 
                                            if item.tank_capacity >= 9
                                                |having #{item.tank_capacity}-L Tank 
                                else if item.product_type == 'Water Filter Cabinet'
                                    if item.model_name.length
                                        p.heading Cabinet of #{item.model_name} with #{item.tank_full_indicator} indicators 
                                            if item.tank_capacity && item.tank_capacity >= 7
                                                |having #{item.tank_capacity}-L Tank 
                                            |designed by #{item.brand_name}
                                    else 
                                        p.heading Purifier Cabinet with #{item.tank_full_indicator} indicators 
                                            if item.tank_capacity && item.tank_capacity >= 7
                                                |having #{item.tank_capacity}-L Tank 
                                            |designed by #{item.brand_name}
                                p.rating 
                                    - var ratingCount = item.rating && item.rating.overall ? Math.round(item.rating.overall) : 0;
                                    - for (var i = 0; i < ratingCount; i++)
                                        <ion-icon name="star"></ion-icon> 
                                    - for (var i = ratingCount; i < 5; i++)
                                        <ion-icon name="star-outline"></ion-icon>
                                p.price 
                                    sup &#x20B9
                                    span #{(item.price)-((item.price)*(item.discount)/100)}  
                                    label M.R.P : 
                                        span &#x20B9 #{item.price}
                                        |  (#{item.discount}% discount)
                                p.brand.points
                                    <ion-icon name="business"></ion-icon> 
                                    span #{item.brand_name}
                                if item.warranty
                                    p.warranty.points 
                                        <ion-icon name="shield-checkmark"></ion-icon> 
                                        span #{item.warranty} Years Of Waranty
                                else if item.color.length > 1
                                    p.multicolor.points 
                                        <ion-icon name="aperture"></ion-icon> 
                                        span Multicolor Available 
                                p.stages.points
                                    <ion-icon name="water"></ion-icon> 
                                    span #{item.filtration_stages} Stage Purification
                                p.delivery.points
                                    <ion-icon name="bus"></ion-icon> 
                                    span Free Delivery
                                label(for="keyword",class="model-number") #{item.model_number}
                                label(for="keyword",class="product-type") #{item.product_type}
                                label(for="keyword",class="material") #{item.material}
                                each color,i in item.color  
                                    label(for="keyword") #{color} ,
                                label(for="keyword",class="tank-capacity") #{item.tank_capacity} Liters
                    else 
                        .search-item(onclick="openProduct(this)")
                            .search-image
                                each img in item.image
                                    each obj in img
                                        each loc in [obj]
                                            each item in loc
                                                img.images(src='/static/productImg/' + item)
                            .search-content
                                .warn-unavail &#128532; 
                                    span Currently Unavailable
                                if item.product_type == 'Water Filter and Purifiers'
                                    if item.model_name.length
                                        p.heading #{item.model_name} based on 
                                            each method,i in item.filtration_method
                                                if i == 0
                                                    |#{method} 
                                                else 
                                                    |+ #{method}
                                            |  Technique 
                                            each component,i in item.included_components
                                                if i == 0
                                                    |with #{component}
                                                else 
                                                    |, #{component}
                                            | and Automatic UF+TDS controller 
                                            if item.tank_capacity >= 9
                                                |having #{item.tank_capacity}-L Tank 
                                            |by #{item.brand_name}
                                    else 
                                        p.heading #{item.brand_name} Presents a Purifier based on 
                                            each method,i in item.filtration_method
                                                if i == 0
                                                    |#{method} 
                                                else 
                                                    |+ #{method}
                                            |  Technique 
                                            each component,i in item.included_components
                                                if i == 0
                                                    |with #{component}
                                                else 
                                                    |, #{component}
                                            | and Automatic UF+TDS controller 
                                            if item.tank_capacity >= 9
                                                |having #{item.tank_capacity}-L Tank 
                                else if item.product_type == 'Water Filter Cabinet'
                                    if item.model_name.length
                                        p.heading Cabinet of #{item.model_name} with #{item.tank_full_indicator} indicators 
                                            if item.tank_capacity && item.tank_capacity >= 7
                                                |having #{item.tank_capacity}-L Tank 
                                            |designed by #{item.brand_name}
                                    else 
                                        p.heading Purifier Cabinet with #{item.tank_full_indicator} indicators 
                                            if item.tank_capacity && item.tank_capacity >= 7
                                                |having #{item.tank_capacity}-L Tank 
                                            |designed by #{item.brand_name}
                                p.rating 
                                    - var ratingCount = item.rating && item.rating.overall ? Math.round(item.rating.overall) : 0;
                                    - for (var i = 0; i < ratingCount; i++)
                                        <ion-icon name="star"></ion-icon> 
                                    - for (var i = ratingCount; i < 5; i++)
                                        <ion-icon name="star-outline"></ion-icon>
                                p.price 
                                    sup &#x20B9
                                    span #{(item.price)-((item.price)*(item.discount)/100)}  
                                    label M.R.P : 
                                        span &#x20B9 #{item.price}
                                        |  (#{item.discount}% discount)
                                p.brand.points
                                    <ion-icon name="business"></ion-icon> 
                                    span #{item.brand_name}
                                if item.warranty
                                    p.warranty.points 
                                        <ion-icon name="shield-checkmark"></ion-icon> 
                                        span #{item.warranty} Years Of Waranty
                                else if item.color.length > 1
                                    p.multicolor.points 
                                        <ion-icon name="aperture"></ion-icon> 
                                        span Multicolor Available 
                                p.stages.points
                                    <ion-icon name="water"></ion-icon> 
                                    span #{item.filtration_stages} Stage Purification
                                p.delivery.points
                                    <ion-icon name="bus"></ion-icon> 
                                    span Free Delivery
                                label(for="keyword",class="model-number") #{item.model_number}
                                label(for="keyword",class="product-type") #{item.product_type}
                                label(for="keyword",class="material") #{item.material}
                                each color,i in item.color  
                                    label(for="keyword") #{color} ,
                                label(for="keyword",class="tank-capacity") #{item.tank_capacity} Liters
                            
block scripts 
    script(src="/static/js/search.js") 