extends base.pug 
block metaElements
    meta(name="robots" content="INDEX, FOLLOW")
block style 
    include ../static/css/order.css 
block title 
    title AJWS | Order 
block content 
    #content
        .cancle-order
            .cancle-order-btn(onclick=`window.location.href = "/product?modelNo=${item.model_number}"`)
                .exit-icon 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                      <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                    </svg>
                .exit-text Cancle Order
        form(action="/product/order", method="post", id="orderForm").form-container  
            .address-section 
                p.shipping-heading Shipping
                .input
                    input.input-element(type="text", name="name", id="name", required="required", value=`${user?user.firstName+' '+user.lastName:''}`)
                    label.input-label(for="name") Receiver's Name
                .input
                    input.input-element(type="text", name="address-1", id="address-1", required="required", value=`${user && user.address && user.address.length?user.address[0].line1:''}`)
                    label.input-label(for="address-1") Address Line 1
                .input
                    input.input-element(type="text", name="address-2", id="address-2", value=`${user && user.address && user.address.length?user.address[0].line2:''}`)
                    label.input-label(for="address-2") Address Line 2 (Optional)
                .input-split
                    button.selectOptBtn#state(type="button",onclick='openOption(this)')
                        #selected.selected #{user && user.address && user.address.length?user.address[0].state:'Select State'}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                        #selectOptContainer.selectOptContainer.addOption
                            span.opt#default(onclick='select(this)', value="") Select State
                            span.opt(onclick='select(this)', value="Maharashtra") Maharashtra
                    input#selectedOption(type='hidden', name='state',required="required", value=`${user && user.address && user.address.length?user.address[0].state:''}`)
                    button.selectOptBtn#district(type="button",onclick='openOption(this)')
                        #selected.selected #{user && user.address && user.address.length?user.address[0].dist:'Select District'}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                        #selectOptContainer.selectOptContainer.addOption
                            span.opt#default(onclick='select(this)', value="") Select District
                    input#selectedOption(type='hidden', name='district',required="required", value=`${user && user.address && user.address.length?user.address[0].dist:''}`)
                .input-split  
                    .input
                        input.input-element(type="number", name="pincode", id="pincode", required="required", value=`${user && user.address && user.address.length?user.address[0].pin:''}`)
                        label.input-label(for="pincode") Pin-Code
                    .input
                        input.input-element(type="number", name="phone", id="phone", required="required", value=`${user?user.phone:''}`)
                        label.input-label(for="phone") Mobile Number
                .input.save-address-future(style="display:flex;margin-top:25px;padding-left: 10px;align-items: center;")
                    input(type="checkbox", name="save-address", id="save-address", style="ascent-color: blue; margin-right: 10px;cursor: pointer;width: 15px;height: 15px;") 
                    label(for="save-address", style="font-size: 15px") Save address for future
            .product-summary 
                .image-section 
                    each img in item.image
                        each obj in img
                            each name,i in obj
                                if name.includes(`${color}-image`) && i == 0
                                    img.image-preview(src=`../static/productImg/${name}`, alt="")
                .details-section 
                    .spec 
                        .spec-head Model Name
                        .spec-tail #{item.model_name}
                        input(type="hidden", name="modelNo", value=item.model_number)
                    .spec 
                        .spec-head Brand Name
                        .spec-tail #{item.brand_name}
                    .spec 
                        .spec-head Colour
                        .spec-tail #{color} 
                        input(type="hidden", name="color", value=color)
                    .spec
                        .spec-head Quantity
                        .spec-tail(style="display:flex;flex-direction:row;column-gap:10px;align-item: center;text-align:center") 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="font-size: 17px;cursor: pointer;" onclick="quantity(-1)" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                            </svg>
                            input#quantity(type="number",name="quantity",value='1',style="display:inline-block;width:5px;text-align: center;border:none;outline:none;pointer-events: none;")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="font-size: 17px;cursor: pointer;" onclick="quantity(1)" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                -var price = item.price
                -var disPrice = (item.price*item.discount)/100
                .price-section 
                    .price-head Price Details 
                    .price-box 
                        .price-detail 
                            .price-detail-head Price
                            .price-detail-tail &#x20B9 #{price}
                        .price-detail 
                            .price-detail-head Discount
                            .price-detail-tail(style="color:red") - &#x20B9 #{disPrice}
                        .price-detail 
                            .price-detail-head Delivery Charges
                            .price-detail-tail(style="color:red") Free Delivery
                .total-amount 
                    .total-amount-head Total Amount
                    .total-amount-tail &#x20B9 #{price-disPrice}
                    input(type="hidden", name="Amount", value=`${price-disPrice}`)
                .submit-section 
                    button.submit-btn(type="button", onclick="submitDone()") Continue & Pay


block scripts 
    script(src="../static/js/order.js") 
    script(src="../static/js/input.js") 