extends base.pug 
block metaElements
    meta(name="robots" content="INDEX, FOLLOW")
block style 
    include ../static/css/order.css 
block title 
    title AJ-Kart | Order 
block content 
    #content
        .cancle-order
            .cancle-order-btn(onclick=`window.location.href = "/product?modelNo=${item['model-number']}"`)
                .exit-icon 
                    <ion-icon name="exit-outline"></ion-icon>
                .exit-text Cancle Order
        form(action="/product/order", method="post", id="orderForm").form-container  
            .address-section 
                p.shipping-heading Shipping
                .input
                    input.input-element(type="text", name="name", id="name", required="required", value=`${user?user.firstName+' '+user.lastName:''}`)
                    label.input-label(for="name") Receiver's Name
                .input
                    input.input-element(type="text", name="address-1", id="address-1", required="required", value=`${user && user.address && user.address.length?user.address[0].line1:''}`)
                    label.input-label(for="address-1") Address Line 1
                .input
                    input.input-element(type="text", name="address-2", id="address-2", value=`${user && user.address && user.address.length?user.address[0].line2:''}`)
                    label.input-label(for="address-2") Address Line 2 (Optional)
                .input-split
                    button.selectOptBtn#state(type="button",onclick='openOption(this)')
                        #selected.selected #{user && user.address && user.address.length?user.address[0].state:'Select State'}
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                        #selectOptContainer.selectOptContainer.addOption
                            span.opt#default(onclick='select(this)', value="") Select State
                            span.opt(onclick='select(this)', value="Maharashtra") Maharashtra
                    input#selectedOption(type='hidden', name='state',required="required", value=`${user && user.address && user.address.length?user.address[0].state:''}`)
                    button.selectOptBtn#district(type="button",onclick='openOption(this)')
                        #selected.selected #{user && user.address && user.address.length?user.address[0].dist:'Select District'}
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                        #selectOptContainer.selectOptContainer.addOption
                            span.opt#default(onclick='select(this)', value="") Select District
                    input#selectedOption(type='hidden', name='district',required="required", value=`${user && user.address && user.address.length?user.address[0].dist:''}`)
                .input-split  
                    .input
                        input.input-element(type="number", name="pincode", id="pincode", required="required", value=`${user && user.address && user.address.length?user.address[0].pin:''}`)
                        label.input-label(for="pincode") Pin-Code
                    .input
                        input.input-element(type="number", name="phone", id="phone", required="required", value=`${user?user.phone:''}`)
                        label.input-label(for="phone") Mobile Number
                .input.save-address-future(style="display:flex;margin-top:25px;padding-left: 10px;align-items: center;")
                    input(type="checkbox", name="save-address", id="save-address", style="ascent-color: blue; margin-right: 10px;cursor: pointer;width: 15px;height: 15px;") 
                    label(for="save-address", style="font-size: 15px") Save address for future
            .product-summary 
                .image-section 
                    each img in item.image
                        each obj in img
                            each name,i in obj
                                if name.includes(`${color}-image`) && i == 0
                                    img.image-preview(src=`../static/productImg/${name}`, alt="")
                .details-section 
                    .spec 
                        .spec-head Model Name
                        .spec-tail #{item.model_name}
                        input(type="hidden", name="modelNo", value=item.model_number)
                    .spec 
                        .spec-head Brand Name
                        .spec-tail #{item.brand_name}
                    .spec 
                        .spec-head Colour
                        .spec-tail #{color} 
                        input(type="hidden", name="color", value=color)
                    .spec
                        .spec-head Quantity
                        .spec-tail(style="display:flex;flex-direction:row;column-gap:10px;align-item: center") 
                            <ion-icon name="remove-circle" style="font-size: 17px;cursor: pointer;" onclick="quantity(-1)"></ion-icon>
                            input#quantity(type="number",name="quantity",value='1',style="display:inline-block;width:15px;text-align: center;border:none;outline:none;pointer-events: none;")
                            <ion-icon name="add-circle" style="font-size: 17px;cursor: pointer;" onclick="quantity(1)"></ion-icon>
                -var price = item.price
                -var disPrice = (item.price*item.discount)/100
                .price-section 
                    .price-head Price Details 
                    .price-box 
                        .price-detail 
                            .price-detail-head Price
                            .price-detail-tail &#x20B9 #{price}
                        .price-detail 
                            .price-detail-head Discount
                            .price-detail-tail(style="color:red") - &#x20B9 #{disPrice}
                        .price-detail 
                            .price-detail-head Delivery Charges
                            .price-detail-tail(style="color:red") Free Delivery
                .total-amount 
                    .total-amount-head Total Amount
                    .total-amount-tail &#x20B9 #{price-disPrice}
                    input(type="hidden", name="Amount", value=`${price-disPrice}`)
                .submit-section 
                    button.submit-btn(type="button", onclick="submitDone()") Continue & Pay


block scripts 
    script(src="../static/js/order.js") 
    script(src="../static/js/input.js") 