extends base.pug 
block metaElements
  meta(name="robots" content="INDEX, FOLLOW")
  meta(name="keywords" content=data.model_name+", "+data.tank_capacity+" Liters , "+data.filtration_method+", "+data.brand_name+", "+data.included_components+", "+data.price+" rupees , "+data.color)
  meta(name="description" content='Introducing our latest water filter - the '+data.model_name+' This advanced model boasts a tank_capacity of '+data.tank_capacity+' Liters, ensuring a steady supply of purified water. With '+data.filtration_method+' , it guarantees the highest level of water purity. Manufactured by the trusted brand '+data.brand_name+', the '+data.model_name+' includes essential included_components, such as '+data.included_components+'. You can experience the unparalleled benefits of this top-tier water filter at a competitive price. Choose the AquaMax Pro in your preferred color option and elevate your water quality today. Trust in AJKart to provide you with the best water filter products for your needs.')
block style 
    include ../static/css/product.css 
block title 
    title AJWS | Product 
block content 
    .product-file 
        .image-locater 
            .top-part#top-part
                if fav
                    #like-btn(onclick="addLike()") 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                        </svg>
                else 
                    #like-btn(onclick="addLike()") 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                each item in data.image 
                    .image-preview 
                        each obj in item 
                            each img in [obj]
                                each loc in img
                                    .images
                                        img(src='/static/productImg/' + loc) 
            .bottom-part
                each item,colorIndex in data.image 
                    .image-data
                        each obj in item 
                            each img in [obj]
                                each loc,imgIndex in img
                                    .images(onclick='slider(' + colorIndex + ',' + imgIndex + ')')
                                        img(src='/static/productImg/' + loc) 
        .product-info 
            if data.product_type == 'Water Filter and Purifiers'
                if data.model_name.length
                    p.heading #{data.model_name} based on 
                        each method,i in data.filtration_method
                            if i == 0
                                |#{method} 
                            else 
                                |+ #{method}
                        |  Technique 
                        each component,i in data.included_components
                            if i == 0
                                |with #{component}
                            else 
                                |, #{component}
                        | and Automatic UF+TDS controller 
                        if data.tank_capacity
                            |having #{data.tank_capacity}-L Tank 
                        |by #{data.brand_name}
                else 
                    p.heading #{data.brand_name} Presents a Purifier based on 
                        each method,i in data.filtration_method
                            if i == 0
                                |#{method} 
                            else 
                                |+ #{method}
                        |  Technique 
                        each component,i in data.included_components
                            if i == 0
                                |with #{component}
                            else 
                                |, #{component}
                        | and Automatic UF+TDS controller 
                        if data.tank_capacity
                            |having #{data.tank_capacity}-L Tank 
            else if data.product_type == 'Water Filter Cabinet'
                if data.model_name.length
                    p.heading Cabinet of #{data.model_name} with #{data.tank_full_indicator} indicators 
                        if data.tank_capacity
                            |having #{data.tank_capacity}-L Tank 
                        |designed by #{data.brand_name}
                else 
                    p.heading Purifier Cabinet with #{data.tank_full_indicator} indicators 
                        if data.tank_capacity
                            |having #{data.tank_capacity}-L Tank 
                        |designed by #{data.brand_name}  
            p.brand Brand: 
                span #{data.brand_name}
            p.rating 
                - var ratingCount = data.rating && data.rating.overall ? Math.round(data.rating.overall) : 0;
                - for (var i = 0; i < ratingCount; i++)
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                - for (var i = ratingCount; i < 5; i++)
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                    </svg>
            .priceSign 
                    p Price
            p.price 
                label  -#{data.discount}%
                sup &#x20B9
                span.value #{(data.price)-((data.price)*(data.discount)/100)}
                br 
                | M.R.P : 
                span.cutValue &#x20B9 #{data.price}
            p.currentColor 
                | Color : 
                span#currentColor #{data.color[0]}
            .color-locator 
                each color,i in data.color
                    if i == 0
                        .color-box.now(onclick='changeColor("' + color + '",' + i + ')')
                            .color(style='background-color:' + color + ';')
                    else
                        .color-box(onclick='changeColor("' + color + '",' + i + ')') 
                            .color(style='background-color:' + color + ';')
            p.statement
                | Installation of product at your home is provided by AJWS at Free of Cost at time of delivery. Extra charges are applied only when there is a need of any extra component like booster pump, connector valves, as per the requirement.
            p.analysis 
                .specs
                    .spec
                      h4 Model 
                      span : 
                      p#model #{data.model_name}
                    .spec
                      h4 Model Number
                      span : 
                      p#model-number #{data.model_number}
                    .spec
                      h4 Brand 
                      span : 
                      p#brand-name #{data.brand_name}
                    .spec
                      h4 Color 
                      span : 
                      p#color #{data.color[0]}
                    .spec
                      h4 Tank Full Indicator
                      span : 
                      p#tank-full-indicator #{data.tank_full_indicator} 
                    if data.warranty
                        .spec
                          h4 Warranty 
                          span : 
                          p#warranty #{data.warranty}
                    .spec
                      h4 Filteration Method
                      span : 
                      p#filteration-method 
                        if data.filtration_method
                            each method,i in data.filtration_method
                                if i == 0
                                    |#{method}
                                else
                                    |, #{method}
                    .spec
                      h4 Special Components
                      span : 
                      p#filteration-method 
                        if data.included_components
                            each components,i in data.included_components
                                if i == 0
                                    |#{components}
                            else
                                |, #{components}
                    .spec
                      h4 Material 
                      span : 
                      p#material #{data.material}
                    .spec
                      h4 Tank Capacity 
                      span : 
                      p#tank-capacity #{data.tank_capacity} Litres
                    .spec
                      h4 Purifying Stages 
                      span : 
                      p#purifying-stages #{data.filtration_stages} stage purification
            if data.available
                form(action="/product/order", method="get", id="buyForm") 
                    input(type = "hidden", name = "model-number", value = data.model_number)
                    input(type = "hidden", name = "color", value = data.color[0], id="colorInForm")
                    button.btn#buyNow(onclick="buyNow",type="submit") Buy Now 
                form(action="/user/cart" method="post", id="cartForm")
                    input(type = "hidden", name = "model-number", value = data.model_number)
                    button.btn#addToCart(onclick="addNow",type="submit") Add To Cart 
            else 
                form
                    button.btn#buyNow(onclick="alert('This product is currently unavailable.')",type="button",style="background-color: rgb(181, 140, 220);") Buy Now 
                form(action="/user/cart" method="post", id="cartForm")
                    input(type = "hidden", name = "model-number", value = data.model_number)
                    button.btn#addToCart(onclick="addNow",type="submit") Add To Cart  

block scripts 
    script(src="/static/js/product.js") 