extends base.pug
block metaElements
  meta(name="robots" content="INDEX, FOLLOW")
  meta(name="keywords" content="AJKart profile, My profile AJKart, User profile AJKart, Personal information AJKart, Edit profile AJKart, Profile settings AJKart, Update profile AJKart, Profile details AJKart, Account profile AJKart, View profile AJKart, Profile management AJKart, Profile dashboard AJKart, User account profile AJKart, Profile customization AJKart, Profile preferences AJKart, Profile privacy settings AJKart, Profile photo AJKart, Profile information update AJKart, My orders and profile AJKart, Profile security AJKart")
  meta(name="description" content=`Manage your AJKart profile effortlessly with our user-friendly interface. Update your personal information, customize preferences, and view order details all in one place. Edit your profile settings and ensure your privacy with our secure profile management system. Keep your profile up-to-date with ease, including profile photo updates. Enjoy a seamless experience with AJKart's profile dashboard, putting you in control of your account details and security. Access your profile, view orders, and customize settings hassle-free. Your satisfaction is our priority, and AJKart makes managing your profile a breeze.`)
block style 
    include ../static/css/profile.css 
block title 
    title AJ-Kart | Profile 
block content 
    .profile-container 
        .profile-menu 
            p.profile-heading User Profile 
            .profile-menu-list 
                p.profile-menu-item.highlight(onclick="changeMenu(this)")
                    <ion-icon name="person-outline"></ion-icon>
                    | &nbsp&nbsp User Info
                p.profile-menu-item(onclick="changeMenu(this)")
                    <ion-icon name="diamond-outline"></ion-icon>
                    | &nbsp&nbsp Brands
                p.profile-menu-item(onclick="changeMenu(this)")
                    <ion-icon name="bag-outline"></ion-icon>
                    | &nbsp&nbsp Products
                p.profile-menu-item#settings-menu(onclick="changeMenu(this)")
                    <ion-icon name="settings-outline"></ion-icon>
                    | &nbsp&nbsp Settings
                p.profile-menu-item(onclick="changeMenu(this)")
                    <ion-icon name="notifications-outline"></ion-icon>
                    | &nbsp&nbsp Notification
            .logout 
                form(action="/auth/logout", method="post") 
                    button.logout-btn(type="submit") <ion-icon name="log-out-outline"></ion-icon> &nbsp Logout
              
        .profile-content
            .user-info 
                .user-top 
                    p.user-logo <ion-icon name="person-outline"></ion-icon>
                    .user-detail
                        p.user-name #{user.name}
                        p.user-address #{user.address.length?user.address[0].dist:'Unknown'}, #{user.address.length?user.address[0].state:'Location'}
                .user-data 
                    .data-box-split 
                        .data-box 
                            p.data-head Name
                            p.data-value #{user.name}
                        .data-box 
                            p.data-head Email Address 
                            p.data-value #{user.email}
                    .data-box-split 
                        .data-box 
                            p.data-head Phone
                            p.data-value #{user.phone}
                        .data-box 
                            p.data-head Location 
                            if user.address.length
                                p.data-value #{user.address[0].dist}, #{user.address[0].state}
                            else 
                                p.add-address(onclick="window.location.href = '/user/address'") Add a Address 
                    .data-change 
                        button.data-change-btn(onclick="document.getElementById('settings-menu').click()") Edit Profile
            .brands
                .head-section(style="border-bottom: 1px solid gray;padding-bottom: 20px;")
                    p.fav-heading Brands
                    button.avail-btn.add-btn(type="button", onclick="window.location.href = '/brands'") Add Brand 
                #brands-list
                    
            .products 
                .head-section
                    p.fav-heading Products
                    button.avail-btn.add-btn(type="button", onclick="window.location.href = '/user/add-product'") Add Product
                .product-menu 
                    .menu(onclick="changeList(0)") All
                    .menu(onclick="changeList(1)") Available 
                    .menu(onclick="changeList(2)") Unavailable
                #product-list
                    .list-item#All-products
                    .list-item#Available
                    .list-item#Unavailable
            .settings#setting 
                .personal-info 
                    p.setting-head 
                        | Personal Information 
                        span.setting-edit(onclick="edit('personal-info')") Edit
                    .data-box 
                        p.data-head Name
                        p.data-value #{user.name}
                    .data-box 
                        p.data-head Address  
                        if user.address.length
                            p.data-value #{user.address[0].dist}, #{user.address[0].state}
                        else 
                            p.data-value No Address Found
                .email-info 
                    p.setting-head 
                        | Email Address 
                        span.setting-edit(onclick="edit('email-info')") Edit
                    .data-box
                        p.data-value #{user.email}                    
                .phone-number 
                    p.setting-head 
                        | Phone Number 
                        span.setting-edit(onclick="edit('phone-number')") Edit
                    .data-box
                        p.data-value #{user.phone}
            .notifications

block scripts 
    script(src="../static/js/profileSeller.js") 