extends base.pug
block metaElements
  meta(name="robots" content="INDEX, FOLLOW")
  meta(name="keywords" content="AJKart profile, My profile AJKart, User profile AJKart, Personal information AJKart, Edit profile AJKart, Profile settings AJKart, Update profile AJKart, Profile details AJKart, Account profile AJKart, View profile AJKart, Profile management AJKart, Profile dashboard AJKart, User account profile AJKart, Profile customization AJKart, Profile preferences AJKart, Profile privacy settings AJKart, Profile photo AJKart, Profile information update AJKart, My orders and profile AJKart, Profile security AJKart")
  meta(name="description" content=`Manage your AJKart profile effortlessly with our user-friendly interface. Update your personal information, customize preferences, and view order details all in one place. Edit your profile settings and ensure your privacy with our secure profile management system. Keep your profile up-to-date with ease, including profile photo updates. Enjoy a seamless experience with AJKart's profile dashboard, putting you in control of your account details and security. Access your profile, view orders, and customize settings hassle-free. Your satisfaction is our priority, and AJKart makes managing your profile a breeze.`)
block style 
    include ../static/css/profile.css 
block title 
    title AJWS | Profile 
block content 
    .profile-container 
        .profile-menu 
            p.profile-heading User Profile 
            .profile-menu-list 
                p.profile-menu-item.highlight(onclick="changeMenu(this)")
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                    span User Info
                p.profile-menu-item(onclick="changeMenu(this)")
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                      <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6zm11.386 3.785-1.806-2.41-.776 2.413zm-3.633.004.961-2.989H4.186l.963 2.995zM5.47 5.495 8 13.366l2.532-7.876zm-1.371-.999-.78-2.422-1.818 2.425zM1.499 5.5l5.113 6.817-2.192-6.82zm7.889 6.817 5.123-6.83-2.928.002z"/>
                    </svg>
                    span Brands
                p.profile-menu-item(onclick="changeMenu(this)")
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                    </svg>
                    span Products
                p.profile-menu-item#settings-menu(onclick="changeMenu(this)")
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                      <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"/>
                      <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z"/>
                    </svg>
                    span Settings
                p.profile-menu-item(onclick="changeMenu(this)")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                    span Notification
            .logout 
                form(action="/login/logout", method="post") 
                    button.logout-btn(type="submit" onclick="return window.confirm('Do you want to logout your account?')") 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                          <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                        </svg>
                        span Logout
              
        .profile-content
            .user-info 
                .user-top 
                    p.user-logo <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/></svg>
                    .user-detail
                        p.user-name #{user.firstName} #{user.lastName}
                        p.user-address #{user.address.length?user.address[0].dist:'Unknown'}, #{user.address.length?user.address[0].state:'Location'}
                .user-data 
                    .data-box-split 
                        .data-box 
                            p.data-head Name
                            p.data-value #{user.firstName} #{user.lastName}
                        .data-box 
                            p.data-head Email Address 
                            p.data-value #{user.email}
                    .data-box-split 
                        .data-box 
                            p.data-head Phone
                            p.data-value #{user.phone}
                        .data-box 
                            p.data-head Location 
                            if user.address.length
                                p.data-value #{user.address[0].dist}, #{user.address[0].state}
                            else 
                                p.add-address(onclick="window.location.href = '/user/address'") Add a Address 
                    .data-change 
                        button.data-change-btn(onclick="document.getElementById('settings-menu').click()") Edit Profile
            .brands
                .head-section(style="border-bottom: 1px solid gray;padding-bottom: 10px;")
                    p.fav-heading Brands
                    button.add-btn(type="button", onclick="window.location.href = '/brands'") Add Brand 
                #brands-list
                    
            .products 
                .head-section
                    p.fav-heading Products
                    button.add-btn(type="button", onclick="window.location.href = '/user/add-product'") Add Product
                .product-menu 
                    .menu(onclick="changeList(0)") All
                    .menu(onclick="changeList(1)") Available 
                    .menu(onclick="changeList(2)") Unavailable
                #product-list
                    .list-item#All-products
                    .list-item#Available
                    .list-item#Unavailable
            .settings#setting 
                .personal-info 
                    p.setting-head 
                        | Personal Information 
                        span.setting-edit(onclick="edit('personal-info')") Edit
                    .data-box 
                        p.data-head Name
                        p.data-value #{user.firstName} #{user.lastName}
                    .data-box 
                        p.data-head Address  
                        if user.address.length
                            p.data-value #{user.address[0].dist}, #{user.address[0].state}
                        else 
                            p.data-value No Address Found
                .email-info 
                    p.setting-head 
                        | Email Address 
                        span.setting-edit(onclick="edit('email-info')") Edit
                    .data-box
                        p.data-value #{user.email}                    
                .phone-number 
                    p.setting-head 
                        | Phone Number 
                        span.setting-edit(onclick="edit('phone-number')") Edit
                    .data-box
                        p.data-value #{user.phone}
            .notifications

block scripts 
    script(src="../static/js/profileSeller.js") 