extends base.pug
block metaElements
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="INDEX, FOLLOW")
    meta(name="keywords" content="AJKart login, Login to AJKart, Account login AJKart, Sign in AJKart, User login AJKart, Customer login AJKart, Secure login AJKart, Access my account AJKart, Member login AJKart, Login credentials AJKart, Login portal AJKart, Login page AJKart, Login process AJKart, AJKart account access, Account authentication AJKart, Login form AJKart, Login verification AJKart, Login security AJKart, Login details AJKart, Login procedure AJKart")
    meta(name="description" content=`Unlock exclusive benefits and seamless shopping by logging in to AJKart. Your security is our priority, providing a secure and user-friendly login process. Enjoy personalized offers and easy access to a wide range of products. Join AJKart today for a rewarding shopping experience.`)
block style
    include ../static/css/register.css
    include ../static/css/selectElement.css
    include ../static/css/input.css
block title 
    title AJ-Kart | Register 
block content
    section.register-container
        .left 
            form(action="/auth/register", method="post").auth-form
                if (message && message.path == "general")
                    .warning 
                        p #{message.msg} 
                .input-split 
                    .input
                        input.input-element(type="text", name="first-name",id="first-name",required="required",value=`${otherDetails?otherDetails['first-name']:''}`)
                        label.input-label(for="first-name") First Name
                    .input
                        input.input-element(type="text", name="last-name",id="last-name",required="required",value=`${otherDetails?otherDetails['last-name']:''}`)
                        label.input-label(for="last-name") Last Name
                if (message &&( message.path == "first-name" || message.path == "last-name"))
                    .warn #{message.msg}
                .input
                    input.input-element(type="email", name="email",id="email",required="required",value=`${otherDetails?otherDetails.email:''}`)
                    label.input-label(for="email") Enter Your Email
                if (message && message.path == "email")
                    .warn #{message.msg}
                .input
                    input.input-element(type="tel", name="phone",id="phone",pattern="[0-9]{10}",required="required",value=`${otherDetails?otherDetails.phone:''}`)
                    label.input-label(for="phone") Enter 10-digit number
                if (message && message.path == "phone")
                    .warn #{message.msg}
                .input-split 
                    button.selectOptBtn(onclick='openOption(this)')
                      #selected.selected Select a Security Question
                      #selectOptContainer.selectOptContainer.addOption
                        span.opt(onclick='select(this)', value="") Select a Security Question
                        span.opt(onclick='select(this)', value="first-pet") What was the name of your first pet?
                        span.opt(onclick='select(this)', value="birth-place") In which city were you born?
                        span.opt(onclick='select(this)', value="sports-team") What is your favorite sports team?
                        span.opt(onclick='select(this)', value="vacation-place") What is your favorite vacation
                    input#selectedOption(type='hidden', name='security-question',required="required")
                    //- It is required to place input:hidden after its button because nextElementSiling is used in function select()
                    .input 
                        input.input-element(type="text",name="security-ans",id="security-ans",required="required")
                        label.input-label(for="security-ans") Answer
                if (message && (message.path == "security-question" || message.path == "security-ans"))
                    .warn #{message.msg} 
                .input
                    input.input-element(type="password", name="password",id="password",required="required")
                    label.input-label(for="password") Password
                if (message && message.path == "password")
                    .warn #{message.msg}
                .input
                    input.input-element(type="password", name="confirm",id="confirm",required="required")
                    label.input-label(for="confirm") Confirm Password
                button.btn(type="submit") Create an account
            a.anLink(href="/auth/login") Already have an account? Log In
        .right 
            .right-head
                p.register-head Register 
                p.welcome-text Welcome! Let's get you started on your shopping journey.
            img(src='../static/img/water-flash-2.png').design-img 
block scripts 
    script(src="/static/js/input.js") 
    script(src="/static/js/selectElement.js") 