extends base.pug 
block metaElements
  meta(name="robots" content="INDEX, FOLLOW")
  meta(name="keywords" content="water filter products, best water filter products, water filter products for sale, water filter products price, domestic water filter, domestic water filter system, where to buy domestic water filter, domestic water filter price, Crystal Clear, Purosis, Nile, Aqua Grand, Aqua Drop Plus, Aqua Mars, Aqua Roma, Aqua Jade")
  meta(name="description" content=`Discover the best water filter products for sale at AJKart. Explore a wide range of premium brands, including Crystal Clear, Purosis, Nile, Aqua Grand, Aqua Drop Plus, Aqua Mars, Aqua Roma, and Aqua Jade. Find the perfect water filter products to ensure clean and safe drinking water for you and your family. Shop now and experience the quality and purity that our top-notch water filter products offer.`)
block style 
    include ../static/css/search.css 
block title 
    title AJWS | Search 
block content 
    section.search-statement 
        p Search result for 
        h4 "#{searchStatement}"
    section.main-content
        .filter-sign-small#openfilter
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"  id="funnel" onclick="openFilter()" viewBox="0 0 16 16">
                  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                </svg>
        .filter-box-background#filter-box-background
        .filter-box#filter-box
            .filter-sign 
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 16 16">
                  <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                </svg>
                label(for="") Filter
            .fiter-brand 
                h4 Brand
                input(type="checkbox", name="brand", id="cc", value ="Crystal Clear",onchange="applyFilter()")
                label(for="cc") Crystal Clear
                br 
                input(type="checkbox", name="brand", id="Purosis", value ="Purosis",onchange="applyFilter()")
                label(for="Purosis") Purosis
                br 
                input(type="checkbox", name="brand", id="Nile", value ="Nile",onchange="applyFilter()")
                label(for="Nile") Nile
                br 
                input(type="checkbox", name="brand", id="AquaGrand", value ="Aqua Grand",onchange="applyFilter()")
                label(for="AquaGrand") Aqua Grand
                br 
                input(type="checkbox", name="brand", id="AquaDropPlus", value ="Aqua Drop Plus",onchange="applyFilter()")
                label(for="AquaDropPlus") Aqua Drop Plus
                br 
                input(type="checkbox", name="brand", id="AquaMars", value ="Aqua Mars",onchange="applyFilter()")
                label(for="AquaMars") Aqua Mars
                br 
                input(type="checkbox", name="brand", id="AquaRoma", value ="Aqua Roma",onchange="applyFilter()")
                label(for="AquaRoma") Aqua Roma
                br 
                input(type="checkbox", name="brand", id="AquaJade", value ="Aqua Jade",onchange="applyFilter()")
                label(for="AquaJade") Aqua Jade
                br 
            .filter-price 
                h4 Price
                input(type='checkbox', name='Price', id="Lto5", value="0to5",onchange="applyFilter()")
                label(for="Lto5") Less than 5000&#x20B9;
                br
                input(type='checkbox', name='Price', id="5to8", value="5to8",onchange="applyFilter()")
                label(for="5to8") 5000&#x20B9; to 8000&#x20B9;
                br
                input(type='checkbox', name='Price',id="8to10", value="8to10",onchange="applyFilter()")
                label(for="8to10") 8000&#x20B9; to 10000&#x20B9;
                br
                input(type='checkbox', name='Price',id="10to12", value="10to12",onchange="applyFilter()")
                label(for="10to12") 10000&#x20B9; to 12000&#x20B9;
                br
                input(type='checkbox', name='Price',id="12to15", value="12to15",onchange="applyFilter()")
                label(for="12to15") 12000&#x20B9; to 15000&#x20B9;
                br
                input(type='checkbox', name='Price',id="15to20", value="15to20",onchange="applyFilter()")
                label(for="15to20") 15000&#x20B9; to 20000&#x20B9;
                br
                input(type='checkbox', name='Price',id="20toM", value="20to100",onchange="applyFilter()")
                label(for="20toM") 20000&#x20B9; or More
                br
            .filter-material 
                h4 Material
                input(type="checkbox", name="material", id="metal", value="metal",onchange="applyFilter()")
                label(for="metal") Metal 
                br
                input(type="checkbox", name="material", id="Plastic", value="plastic",onchange="applyFilter()") 
                label(for="plastic") Plastic
                br
        .search-output-area 
            each item in data
                if item.available
                    .search-item(onclick="openProduct(this)")
                        .search-image
                            each img in item.image
                                each obj in img
                                    each loc in [obj]
                                        each item in loc
                                            img.images(src='/static/productImg/' + item)
                        .search-content
                            if item.product_type == 'Water Filter and Purifiers'
                                if item.model_name.length
                                    p.heading #{item.model_name} based on 
                                        each method,i in item.filtration_method
                                            if i == 0
                                                |#{method} 
                                            else 
                                                |+ #{method}
                                        |  Technique 
                                        each component,i in item.included_components
                                            if i == 0
                                                |with #{component}
                                            else 
                                                |, #{component}
                                        | and Automatic UF+TDS controller 
                                        if item.tank_capacity >= 9
                                            |having #{item.tank_capacity}-L Tank 
                                        |by #{item.brand_name}
                                else 
                                    p.heading #{item.brand_name} Presents a Purifier based on 
                                        each method,i in item.filtration_method
                                            if i == 0
                                                |#{method} 
                                            else 
                                                |+ #{method}
                                        |  Technique 
                                        each component,i in item.included_components
                                            if i == 0
                                                |with #{component}
                                            else 
                                                |, #{component}
                                        | and Automatic UF+TDS controller 
                                        if item.tank_capacity && item.tank_capacity >= 9
                                            |having #{item.tank_capacity}-L Tank 
                            else if item.product_type == 'Water Filter Cabinet'
                                if item.model_name.length
                                    p.heading Cabinet of #{item.model_name} with #{item.tank_full_indicator} indicators 
                                        if item.tank_capacity && item.tank_capacity >= 7
                                            |having #{item.tank_capacity}-L Tank 
                                        |designed by #{item.brand_name}
                                else 
                                    p.heading Purifier Cabinet with #{item.tank_full_indicator} indicators 
                                        if item.tank_capacity && item.tank_capacity >= 7
                                            |having #{item.tank_capacity}-L Tank 
                                        |designed by #{item.brand_name}
                            p.rating 
                                - var ratingCount = item.rating && item.rating.overall ? Math.round(item.rating.overall) : 0;
                                - for (var i = 0; i < ratingCount; i++)
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                - for (var i = ratingCount; i < 5; i++)
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                    </svg>
                            p.price 
                                sup &#x20B9
                                span #{(item.price)-((item.price)*(item.discount)/100)}  
                                label M.R.P : 
                                    span &#x20B9 #{item.price}
                                    |  (#{item.discount}% discount)
                            p.brand.points
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                                  <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022M6 8.694 1 10.36V15h5zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5z"/>
                                  <path d="M2 11h1v1H2zm2 0h1v1H4zm-2 2h1v1H2zm2 0h1v1H4zm4-4h1v1H8zm2 0h1v1h-1zm-2 2h1v1H8zm2 0h1v1h-1zm2-2h1v1h-1zm0 2h1v1h-1zM8 7h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zM8 5h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zm0-2h1v1h-1z"/>
                                </svg>
                                span #{item.brand_name}
                            if item.warranty
                                p.warranty.points 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                                      <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                                      <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                    </svg>
                                    span #{item.warranty} Years Of Waranty
                            else if item.color.length > 1
                                p.multicolor.points 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
                                      <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                      <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8m-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7"/>
                                    </svg>
                                    span Multicolor Available 
                            p.stages.points
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-water" viewBox="0 0 16 16">
                                  <path d="M.036 3.314a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 3.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 6.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 9.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.757-.703a.5.5 0 0 1-.278-.65"/>
                                </svg>
                                span #{item.filtration_stages} Stage Purification
                            p.delivery.points
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                  <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                                </svg>
                                span Free Delivery
                            label(for="keyword",class="model-number") #{item.model_number}
                            label(for="keyword",class="product-type") #{item.product_type}
                            label(for="keyword",class="material") #{item.material}
                            each color,i in item.color  
                                label(for="keyword") #{color} ,
                            label(for="keyword",class="tank-capacity") #{item.tank_capacity} Liters
                else 
                    .search-item(onclick="openProduct(this)")
                        .search-image
                            each img in item.image
                                each obj in img
                                    each loc in [obj]
                                        each item in loc
                                            img.images(src='/static/productImg/' + item)
                        .search-content
                            .warn-unavail &#128532; 
                                span Currently Unavailable
                            if item.product_type == 'Water Filter and Purifiers'
                                if item.model_name.length
                                    p.heading #{item.model_name} based on 
                                        each method,i in item.filtration_method
                                            if i == 0
                                                |#{method} 
                                            else 
                                                |+ #{method}
                                        |  Technique 
                                        each component,i in item.included_components
                                            if i == 0
                                                |with #{component}
                                            else 
                                                |, #{component}
                                        | and Automatic UF+TDS controller 
                                        if item.tank_capacity >= 9
                                            |having #{item.tank_capacity}-L Tank 
                                        |by #{item.brand_name}
                                else 
                                    p.heading #{item.brand_name} Presents a Purifier based on 
                                        each method,i in item.filtration_method
                                            if i == 0
                                                |#{method} 
                                            else 
                                                |+ #{method}
                                        |  Technique 
                                        each component,i in item.included_components
                                            if i == 0
                                                |with #{component}
                                            else 
                                                |, #{component}
                                        | and Automatic UF+TDS controller 
                                        if item.tank_capacity && item.tank_capacity >= 9
                                            |having #{item.tank_capacity}-L Tank 
                            else if item.product_type == 'Water Filter Cabinet'
                                if item.model_name.length
                                    p.heading Cabinet of #{item.model_name} with #{item.tank_full_indicator} indicators 
                                        if item.tank_capacity && item.tank_capacity >= 7
                                            |having #{item.tank_capacity}-L Tank 
                                        |designed by #{item.brand_name}
                                else 
                                    p.heading Purifier Cabinet with #{item.tank_full_indicator} indicators 
                                        if item.tank_capacity && item.tank_capacity >= 7
                                            |having #{item.tank_capacity}-L Tank 
                                        |designed by #{item.brand_name}
                            p.rating 
                                - var ratingCount = item.rating && item.rating.overall ? Math.round(item.rating.overall) : 0;
                                - for (var i = 0; i < ratingCount; i++)
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                - for (var i = ratingCount; i < 5; i++)
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                    </svg>
                            p.price 
                                sup &#x20B9
                                span #{(item.price)-((item.price)*(item.discount)/100)}  
                                label M.R.P : 
                                    span &#x20B9 #{item.price}
                                    |  (#{item.discount}% discount)
                            p.brand.points
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                                  <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022M6 8.694 1 10.36V15h5zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5z"/>
                                  <path d="M2 11h1v1H2zm2 0h1v1H4zm-2 2h1v1H2zm2 0h1v1H4zm4-4h1v1H8zm2 0h1v1h-1zm-2 2h1v1H8zm2 0h1v1h-1zm2-2h1v1h-1zm0 2h1v1h-1zM8 7h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zM8 5h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zm0-2h1v1h-1z"/>
                                </svg>
                                span #{item.brand_name}
                            if item.warranty
                                p.warranty.points 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                                      <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                                      <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                    </svg>
                                    span #{item.warranty} Years Of Waranty
                            else if item.color.length > 1
                                p.multicolor.points 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
                                      <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                      <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8m-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7"/>
                                    </svg> 
                                    span Multicolor Available 
                            p.stages.points
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-water" viewBox="0 0 16 16">
                                  <path d="M.036 3.314a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 3.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 6.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0L.314 9.964a.5.5 0 0 1-.278-.65m0 3a.5.5 0 0 1 .65-.278l1.757.703a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.014-.406a2.5 2.5 0 0 1 1.857 0l1.015.406a1.5 1.5 0 0 0 1.114 0l1.757-.703a.5.5 0 1 1 .372.928l-1.758.703a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.014-.406a1.5 1.5 0 0 0-1.114 0l-1.015.406a2.5 2.5 0 0 1-1.857 0l-1.757-.703a.5.5 0 0 1-.278-.65"/>
                                </svg> 
                                span #{item.filtration_stages} Stage Purification
                            p.delivery.points
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                  <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                                </svg>
                                span Free Delivery
                            label(for="keyword",class="model-number") #{item.model_number}
                            label(for="keyword",class="product-type") #{item.product_type}
                            label(for="keyword",class="material") #{item.material}
                            each color,i in item.color  
                                label(for="keyword") #{color} ,
                            label(for="keyword",class="tank-capacity") #{item.tank_capacity} Liters
                                

block scripts 
    script(src="/static/js/search.js") 